*{
    margin: 0;
}

footer{
    position: absolute;
    bottom: 0;
    font-family: Arial;
    font-size: 14px;
    color: rgb(148, 167, 255)
    
}
.login {
    text-align: center;
}

#avatar{
    width: 200px;
    border-radius: 50%;
    border: 4px white;
    border-style: solid;
    background-color: white;
    position: 
}

.animation {
    text-align: center;
}

input{
    width: 200px;
    height: 20px;
    padding: 5px;
    border: 4px white;
    border-style: solid;
    font-family: Arial;
    font-size: 20px;
    color: grey;
    margin: 30px 0px 0px 0px;
    letter-spacing: 0px;
    border-radius: 10px;
}

input:hover {
    outline: none;
    box-shadow: 0px 0px 50px white
}


input:focus {
    outline: none;
    box-shadow: 0px 0px 50px white
}


.loginbox {
    padding: 30px 0 50px 0;
    width: 300px;
    background: linear-gradient(90deg, rgba(211,219,255,1) 0%, rgba(195,198,255,1) 25%, rgba(204,221,255,1) 79%);
    position: relative;
    top:40px;
    border: 4px white;
    border-style: solid;
    border-radius: 10% 
}

.eyelitop {
width:55px;
background-color: black;
position: absolute;
top:105px;
left:126px;
animation-name: blink;
animation-duration: 9s;
animation-iteration-count: infinite;
}

@keyframes blink {
    from {height: 10px}
    8% {height: 70px}
    14% {height: 10px}
    22% {height: 70px}
    28% {height: 10px}
    to{ height: 10px}
}

.mouth{
    width:35px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 192px;
    left: 134px;
    border-radius: 50%;
        animation-name: yawn;
        animation-duration: 0.8s;
        animation-delay: 0.5s;
        animation-play-state: paused;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
}

@keyframes yawn {
    from {height: 1px;
            position: absolute;
            width:35px; 
    }

    to{ height: 150px;
        position: absolute;
    top: 85px;
    width:180px;
    left:60px;}
}

.running {
   
    position: absolute;
    left: -100px;
    bottom: 0px;
    width: 100px;
    animation-name: running;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

@keyframes running {
    from {
        position: absolute;
        bottom:0px;
        left:-100px;       
    }
    to {
        position: absolute;
        bottom: 0px;
        left: 2000px;
    }
}

body{
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    overflow-x: hidden;
    }

@media screen and (max-width: 500px) {
    .running {
        transform: scaleY(-1);
        top: 0px;
    }
    
    @keyframes running {
        from {
        position: absolute;
        
        bottom:0px;
        left:-100px;       
    }
    to {
        position: absolute;
        bottom: 0px;
        left: 2000px;
    }
    }   
}